@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

body{
    min-height: 100%;
    margin: 0;
    background: #ECECEC;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    background: #F9F9F9;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFCA7A;
}

.nav-links{
    position: relative;
    display: flex;
}

.nav-links a{
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #121212;
}

.nav-links a:hover{
    background: #121212;
    border-radius: 0px;
    color: #FFCA7A;
    transition: all 0.2s ease-in-out;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.close{
    display: none;
}

/* footer */

footer{
    margin-top: 100px;
    background: #FFD15C;
    padding: 50px 0px 60px 0px;
}

.wrap{
    width: 1100px;
    margin: auto;
    position: relative;
}

.footers{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 25%;
    margin: 0 auto;
}

.footer-title{
    width: 100%;
    font-weight: 800;
    font-size: 25px;
    color: #121212;
    line-height: 50px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-align: center;
}

.footer-section .medsos .logoMedsos{
    height: 35px;
    margin-right: 7px;
}

.spesial{
    text-align: left;
    width: 100%;
    font-weight: 800;
    font-size: 25px;
    color: #121212;
    line-height: 50px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.pencet{
    width: 100%;
    color: #121212;
    line-height: 30px;
    margin-bottom: 20px;
}

a.pencet1{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    line-height: 30px;
    margin-bottom: 0px;
    color: #121212;
}

a.pencet-1{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    line-height: 30px;
    margin-bottom: 0px;
    color: #121212;
}

a.pencet1:hover{
    text-decoration: underline;
}

a.pencet-1:hover{
    text-decoration: underline;
}

#abt{
    padding-left: 29%;
}

#fnd{
    padding-left: 33%;
}

#ctc{
    padding-left: 24%;
}

@media (max-width: 768px) {
    /* header */
    nav{
        padding: 11px 4%;
    }

    #menu-icon{
        display: initial;
    }

    nav .nav-links{
        position: fixed;
        top: 0;
        right: 0;
        background-color: #F9F9F9;
        transition: 0.5s;
        width: 0;
        height: 100%;
        padding-top: 60px;
        overflow-x: hidden;
        display: block;
    }

    .nav-links a{
        display: block;
        padding: 8px 8px 8px 32px;
        font-size: 25px;
        color: #121212;
        transition: 0.3s;
        text-decoration: none;
    }

    .nav-links.active{
        width: 250px;
    }

    .nav-links .close{
        display: initial;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .nav-links .close:hover{
        color: #FFCA7A;
    background: none;
    }

    .nav-links a:hover{
        color: #FFCA7A;
        background: #121212;
    }

    /* footer */
    .wrap{
        width: 76%;
    }

    .footer-section{
        text-align: center;
        width: 50%;
    }

    .spesial{
        text-align: center;
    }

    #abt{
        text-align: center;
        padding-left: 0;
    }
    
    #fnd{
        text-align: center;
        padding-left: 0;
    }
    
    #ctc{
        text-align: center;
        padding-left: 0;
    }

    .medsos{
        margin-bottom: 50px;
    }
}