.section{
    background-image: url("../assets/contactUs.jpg");
    padding: 15%;
}

.orange-box{
    border-radius: 30px;
    background: rgba(255, 202, 122, 0.8);
    padding: 8%;
}

.orange-box h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3%;
}

form{
    margin: auto;
    text-align: center;
}

form > input{
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    background: #F4F4F4;
    padding: 10px;
}

form textarea{
    border: none;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 10px;
    background: #F4F4F4;
    padding: 10px;
}

form .gender .gender-box{
    background: #F4F4F4;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    height: 30px;
    width: 90px;
    margin-bottom: 20px;
    font-size: 14px;
}

form .gender{
    margin: auto;
    text-align: left;
    width: 80%;
}

form .konten{
    margin: auto;
    text-align: left;
    width: 80%;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 20px;
    font-style: italic;
}

.submit{
    background: #FFE49E;
    border: none;
    width: 80%;
    border-radius: 10px;
    height: 30px;
    font-weight: 600;
}

#err-name {
    color : red;
    font-size: 14px;
    font-style: italic;
}