.title{
    margin-top: 100px;
    margin-left: 12%;
    margin-bottom: 50px;
    text-align: left;
}

.orange-section{
    margin-top: 2%;
    position: relative;
    height: 500px;
}

.orange-section:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.orange-section .line{
    margin-top: 2.8%;
    border-right: 2px solid #121212;
    padding: 1%;
    width: 40%;
    position: absolute;
    z-index: 2;
    margin-left: 10%;
}

.orange-section .place{
    height: 300px;
}

.orange-box{
    background: rgba(255, 202, 122, 0.80);
    border-radius: 30px;
    padding: 3%;
    text-align: center;
    width: 70%;
    height: 400px;
    position: absolute;
    z-index: 1;
    margin-left: 20%;
}

.orange-section .tulisan{
    margin-top: 2.5%;
    margin-left: 50%;
}

.orange-section .tulisan hr{
    width: 80px;
    margin-left: 40%;
    margin-bottom: 4%;
    margin-top: 4%;
    border-top: 1px solid #121212;
    background: rgba(255, 202, 122, 0.80);
}

.tulisan .main{
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 3%;
}

.tulisan .sub-main{
    font-weight: normal;
    margin-top: 3%;
    margin-bottom: 3%;
}

.details{
    padding-right: 30%;
    padding-left: 30%;
    margin-bottom: 5%;
}

.clear{
    height: 500px;
}

.yellow-section{
    margin-top: 2%;
    position: relative;
    height: 500px;
}

.yellow-section:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.yellow-section .line{
    margin-top: 2.8%;
    border-left: 2px solid #121212;
    padding: 1%;
    padding-left: 3.5%;
    width: 40%;
    position: absolute;
    z-index: 2;
    margin-left: 50%;
}

.yellow-section .place{
    height: 300px;
}

.yellow-box{
    background: rgba(255, 228, 131, 0.8);
    border-radius: 30px;
    padding: 3%;
    text-align: center;
    width: 70%;
    height: 400px;
    position: absolute;
    z-index: 1;
    margin-left: 10%;
}

.yellow-section .tulisan{
    margin-top: 2.5%;
    margin-right: 50%;
}

.yellow-section .tulisan hr{
    width: 80px;
    margin-left: 40%;
    margin-bottom: 4%;
    margin-top: 4%;
    border-top: 1px solid #121212;
    background: rgba(255, 202, 122, 0.80);
}

/*Responsive*/
@media (max-width: 768px){
    .orange-section{
        width: 90%;
        font-size: 0.8rem;
        height: 400px;
    }
    .orange-box{
        height: 320px;
    }
    .orange-section .line{
        margin-top: 10%;
    }
    .orange-section .place{
        height: 150px;
    }
    .orange-section .tulisan hr{
        margin-left: 32%;
    }

    .yellow-section{
        width: 90%;
        font-size: 0.8rem;
        height: 400px;
    }
    .yellow-section .place{
        height: 150px;
    }
    .yellow-box{
        height: 320px;
    }
    .yellow-section .line{
        margin-top: 10%;
    }
    .yellow-section .place{
        height: 150px;
    }
    .yellow-section .tulisan hr{
        margin-left: 32%;
    }
}

@media (max-width: 414px){
    .title{
        margin-bottom: 0;
        margin-left: 0;
        text-align: center;
    }
    .orange-section{
        margin: auto;
        border-radius: 30px;
        width: 70%;
        font-size: 0.7rem;
        height: 450px;
        position: unset;
        background: rgba(255, 202, 122, 0.80);
        margin-bottom: 7%;
    }
    .orange-box{
        height: 260px;
        position:unset;
        margin: auto;
        text-align: center;
        background: rgba(241, 235, 235, 0.6);
    }
    .orange-section .line{
        width: 100%;
        margin: auto;
        text-align: center;
        position:unset;
        border: none;
    }
    .orange-section .place{
        margin-top: 5%;
        height: 130px;
        text-align: center;
    }
    .orange-section .tulisan{
        margin-top: 2.5%;
        margin: auto;
    }
    .orange-section .tulisan hr{
        width: 80px;
        margin-left: 35%;
        margin-bottom: 4%;
        margin-top: 4%;
        border-top: 1px solid #121212;
        background: rgba(255, 202, 122, 0.80);
    }
    
    .tulisan .main{
        font-weight: 500;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .tulisan .sub-main{
        font-weight: normal;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .details{
        padding-right: 30%;
        padding-left: 30%;
        margin-bottom: 5%;
    }

    .yellow-section{
        margin: auto;
        border-radius: 30px;
        width: 70%;
        font-size: 0.7rem;
        height: 450px;
        position: unset;
        background: rgba(255, 228, 131, 0.8);
        margin-bottom: 7%;
    }
    .yellow-box{
        height: 260px;
        position:unset;
        margin: auto;
        text-align: center;
        background: rgba(241, 235, 235, 0.6);
    }
    .yellow-section .line{
        width: 100%;
        margin: auto;
        text-align: center;
        position:unset;
        border: none;
    }
    .yellow-section .place{
        margin-top: 5%;
        height: 130px;
        text-align: center;
    }
    .yellow-section .tulisan{
        margin-top: 2.5%;
        margin: auto;
    }
    .yellow-section .tulisan hr{
        width: 80px;
        margin-left: 35%;
        margin-bottom: 4%;
        margin-top: 4%;
        border-top: 1px solid #121212;
        background: rgba(255, 202, 122, 0.80);
    }
    
}